name: Rust CI

on:
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Run cargo fmt
      run: cargo fmt -- --check --verbose

    - name: Run cargo clippy
      run: cargo clippy --all-targets --all-features -- -D warnings

    - name: Run cargo build
      run: cargo build --release --verbose

    - name: Run cargo tests
      run: cargo test --verbose
