name: Rust CI & Release

on:
  push:
    tags:
      - 'v*'
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - name: Update Rust
        run: rustup update stable
      - name: Run fmt & clippy
        run: |
          cargo fmt -- --check
          cargo clippy -- -D warnings
      - name: Run tests
        run: cargo test --verbose

  release:
    name: Release Binary
    needs: test
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - uses: actions/checkout@v6
      
      - name: Build release binary
        run: cargo build --release --locked

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: target/release/${{ github.event.repository.name }}
          generate_release_notes: true
